@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
.navbar{
    background-color: #D7FBE8;
}
nav{
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tw Cen MT', sans-serif;
}
nav img{
    width: 50px;
}
.nav-links{
    flex:1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    transition: 0.5s
}
.nav-links ul li a{
    color: #1FAB89;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li:hover{
    letter-spacing: 3px;
    border: #c1f3d8b4 solid 0px;
    background-color: #c1f3d8b4;
    border-radius: 50px;
}
  h1{
    margin: 0;
    font-family: 'Caveat', sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #1FAB89;
}
.I{
    font-size: 90px;
    font-weight: 700;
}
.B{
    font-size: 90px;
    font-weight: 700;
}
p{
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 25px;
    color: #1FAB89;
}
body{
    margin: 0;
    text-align: center;
}
.header{
    background-color: #D7FBE8;
    height: 82.4vh;
    width: 100%;
    padding-top: 70px;
    position: relative;
}
.mountain{
    height: 40%;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 20%;
    align-items: center;
    margin: 0 auto 0 auto;
}
.bottom-cloud{
    position: absolute;
    top: 50%;
    left: 20%;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 20%;
}
.name{
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    align-items: center;
}
@media (max-width: 700px) {
    h1{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
    .I{
        font-size: 50px;
    }
    .B{
        font-size: 50px;
    }
    img{
        height: 4%;
    }
    .nav-links ul li{
        padding: 8px 12px;
    }
     
}
@media (min-height: 840px) and (max-height:1000px)
 {
    .header{
        height: 70vh;
    }
 }
 @media (min-height: 1000px){
    .nav-links ul li a{
        font-size:30px;
    }
}

