h1{
    margin: 0;

}
body{
    margin: 0;
}
section{
    background-color: #D7FBE8;
    height: 100vh;
    width: 100%;
}
.mountain{
    height: 45vh;
    position: relative;
    top: 30vh;
    align-items: center;
}